[submodule "SQL"]
	path = SQL
	url = https://github.com/austinsonger/SQL-scripts
[submodule "sql"]
	path = sql
	url = https://github.com/austinsonger/SQL-scripts
[submodule "templates"]
	path = templates
	url = https://github.com/austinsonger/Templates
[submodule "vagrant-configs"]
	path = vagrant-configs
	url = https://github.com/austinsonger/Vagrant-templates
[submodule "packer"]
	path = packer
	url = https://github.com/austinsonger/Packer-templates
[submodule "kubernetes-configs"]
	path = kubernetes-configs
	url = https://github.com/austinsonger/Kubernetes-configs
